# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/
*.swp
*.swo

# python
__pycache__/
*.pyc
.venv/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
